@using ClienteUI.Models.Enums;
@model Pedido
@{
    ViewData["Title"] = "Extrato";
}
<section class="u-clearfix u-grey-10 u-section-2" id="sec-d588">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Pagamento Liberado!</h2>
        <p />
        <p />
        <div class="u-container-style">
            <div class="u-container-layout u-similar-container">
                <img class="u-image u-image-default" data-image-width="1000" data-image-height="500" src="~/lib/qrcode.png" data-page-id="29568370">
            </div>
        </div>
    </div>
</section>