<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Restaurante, Cardápio">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Cardápio</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Página-Inicial.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/lib/jquery/dist/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <meta property="og:title" content="Página Inicial">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="u-body u-overlap u-overlap-contrast u-overlap-transparent">
    <header class="u-align-left u-clearfix u-grey-90 u-header" id="sec-4841" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1"></div></header>
    <section class="skrollable u-align-center u-clearfix u-image u-parallax u-shading u-section-1" id="carousel_8e54" data-image-width="1280" data-image-height="847">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
            <img  src="~/lib/chef.png" alt="" class="u-image u-image-contain u-image-default u-image-1" data-href="https://localhost:44317" data-image-width="1183" data-image-height="1280">
            <h1 class="u-custom-font u-text u-text-custom-color-1 u-text-1">
                Pede Aqui! <br>
            </h1>
        </div>
    </section>

    @RenderBody()

    <section class="u-align-center u-clearfix u-section-3" id="sec-e21c">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h3 class="u-text u-text-1">Precisa de ajuda?</h3>

            @Html.ActionLink("CONSULTAR PEDIDOS", "MeusPedidos", "Pedido", new { }, new { @class = "u-border-0 u-btn u-button-style u-palette-2-base u-btn-1" })
            <a href="#" class="u-border-0 u-btn u-button-style u-palette-2-base u-btn-2" onclick="alert('O garçom chegará em instantes!')">CHAMAR GARÇOM</a>
        </div>
    </section>


    <footer class="u-align-left u-clearfix u-footer u-grey-90 u-footer" id="sec-bd78">
        <div class="u-clearfix u-sheet u-sheet-1">
            <img src="~/lib/chef.png" alt="" class="u-expanded-width-xs u-image u-image-contain u-image-default u-image-1" data-image-width="1183" data-image-height="1280">
            <h1 class="u-custom-font u-text u-text-custom-color-1 u-text-1">
                Pede Aqui! <br>
            </h1>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
